
.engagement-main {
  height: 95%;
  color: rgb(255, 255, 255);
  background-color: #2D2F4A;
}

.mainBodyCard1 {
  max-width: 100%;
  height: 40%;
  min-height: 20vh;
  color: rgb(255, 255, 255);
  background-color: #2D2F4A;
  border: none;
}

.mainBodyCard1 h5 {
  color: rgba(180, 180, 180, 1);
}

.mainBodyCard {
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  color: rgb(255, 255, 255);
  background-color: #2D2F4A;
  border:none;
  border-top: 2px solid grey;
}

.mainBodyCard.favorite {
  border-top: none;
}

.mainBodyCard.favorites .ant-card-body {
  height: 100%;
}

.mainBodyTitle {
  color: rgb(255, 255, 255);
  height: 3em;
  line-height: 3em;
}

.component-wrapper {
  z-index: 5;
  height: 100%;
}
