
.engagement-main {
  height: 100%;
}

.mainBodyCard1 {
  max-width: 100%;
  height: 40%;
  min-height: 20vh;
  color: rgb(255, 255, 255);
  background-color: #2D2F4A;
}

.mainBodyCard1 h5 {
  color: rgba(180, 180, 180, 1);
}

.mainBodyCard {
  height: 100%;
  max-width: 500px;
  overflow-y: scroll;
  color: rgb(255, 255, 255);
  background-color: #2D2F4A;
  border-top:none;
}

.mainBodyTitle {
  color: rgb(255, 255, 255);
  padding-left: 24px;
}

.component-wrapper {
  z-index: 5;
  height: 100%;
}
