.favorites-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 95%;
}

.favorites-items {
  display: flex;
  flex-flow: column;
  height: 90%;
  justify-content: space-around;
}

.favorite-item-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.favorite-item-row:hover {
  background-image: linear-gradient(to right,#43466e,transparent);
}

.cancel-button {
  display: none;
  background-color: #66d3d2;
  text-align: center;
  font-size: 12px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.favorite-item-name a:link {
  color: white;
}

.favorite-item-name a:visited {
  color: white;
}

.favorite-item-row:hover .cancel-button {
  display: block;
}
