.scrolldown-container {
  background: rgb(241,127,127);
  background: linear-gradient(90deg, rgba(241,127,127,1) 0%, rgba(255,154,99,1) 35%, rgba(255,44,170,1) 100%);
  z-index: 10;
}

.scrolldown-container-placeholder {
  background: rgb(45,47,74);
  height: 50px;
}

.scrolldown-image {
  margin-left: 3em;
  margin-top: -25px;
  height: 75px;
  width: 50px;
  background-image: url(../assets/double-arrows.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-image-container {
  overflow-y: visible;
}

.scroll-text {
  padding-top: 1em;
  color: white;
  padding-left: 3em;
}
